* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
}



.header-content {
    top: 0;
    position: fixed;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #0505053b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}


#Products {
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 10px;
}


#Products div {
  padding-block: 15px;
}

#product-item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


#Products div img {
    width: 200px;
    height: 200px;
}

#notific {
    display: none;
}

#product-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav .cartnumber {
    background-color: rgb(255, 4, 4);
    position: absolute;
    text-align: center;
    left: 270px;
    border-radius: 50%;
    font-size: 10px;
    width: 1px;
    top: 12px;
}

.cartdropdownMenu {
    cursor: pointer;
}

nav .cartdropdown {
    background-color: black;
    width: 200px;
    display: inline-block;
    position: absolute;
    top: 55px;
    transform: translate(-35%);
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    color : white;
    display: none;
}

.cartdropdown a {
    width: 100%;
    background-color: black;
    font-size: 15px;
    margin-left: 22px;
    padding: 6px;
    border-radius: 4px;
    color : white
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    display: inline;
    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    margin-inline: 15px;

}

.searchinput {
    padding: 20px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchinput input {
    margin-block: 20px;
    transform: translate(-13%);
}

.searchinput button {
    text-align: center;
    padding: 10px;
}




#item-img {
    width: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



#price {
    font-weight: bold;
    color: #333;
}





header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 60px;
}



.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-content .logo {
    font-size: 30px;
    color: black;
    text-decoration: none;
    margin-right: 65px;
    font-weight: bold;
}


/*  */

.detailBtn {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.add-to-cart,
.detailBtn {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.add-to-cart:hover,
.detailBtn:hover {
    background-color: #78b3f1;
}


#search-result-item #prodImg {
    max-width: 15%;
}



/* Style for search results container */
#searchResults {
    margin-top: 20px;
}

#searchResults .product-item {
    width: 150px;
    /* Adjust width as needed */
    border: 1px solid #ddd;
    /* Example: lighter border for searched items */
    padding: 5px;
}


#searchInput {

    width: 600px;
    margin-left: 150px;
    border: solid 2px;
    height: 30px;

}


#searchBtn1 {

    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;


}


#searchBtn2 {

    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}


#searchBtn {
    background-color: #272829;
    color: #fff;
    border: solid 2px black;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bolder;
    padding: 10px;
    transition: all .5s;
}

#searchBtn:hover {
    background-color: #007bff;
}

.container {
    margin-top: 100px;
}


